{% extends "class_base.html" %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="col-md-12 my-3">
        </div>
    </div>
    <hr>

    <h1> your baskets : </h1>
    <hr>
    {% if live_items %}
        {% for basket in baskets %}
            <div class="row">
                {% if basket.status == 'live' %}
                    <span style="color: red;">your live basket :</span>
                    <div class="col-md-6">
                        <br>
                            {% for item in items %}
                                {% if item.basket == basket %}
                                <p>
                                    <a href="/onlineshop/product_detail/{{item.product.id}}">
                                        {{item.product.name}}
                                    </a>
                                    --> {{item.quantity}} , maximum you can buy : {{item.product.quantity}}
                                    <a class="btn btn-sm btn-danger" href="{% url 'Delete-From-Basket' pk=item.product.id %}">
                                        <small>Remove from basket</small>
                                    </a>
                                    <br>
                                    <a class="btn btn-sm btn-danger" href="{% url 'Edit-Basket-Item-Quantity' pk=item.id %}">
                                        <small>Edit Quantity</small>
                                    </a>
                                    <br>
                                    each one of this item costs : {{item.product.price}}
                                </p>
                                {% endif %}
                            {% endfor %}
                            <h6 style="color: brown;">
                                customer :{{comment.customer}}
                            </h6>
                            {% if comment.parent %}
                                <p>
                                    <small>
                                        replying on : {{comment.parent.writer}} - {{comment.parent.title}}
                                    </small>
                                </p>
                            {% else %}
                            {% endif %}

                            <h1>
                                <a href="/user/{{comment.writer}}">user :{{comment.writer}}</a>
                            </h1>
                            <h2 style="color: rgb(60, 202, 47);">title :{{comment.title}}</h2>
                            <h3>body : {{comment.body}}</h3>
                            <h6>{{basket.created_on}}</h6>

                    </div>
                    <div class="col-md-6">
                        total price : {{basket.price}}
                        <br>
                        <a class="btn btn-sm btn-primary" href="{% url 'Edit-Basket' pk=basket.id %}">
                            <small>Edit Basket</small>
                        </a>
                        <a class="btn btn-sm btn-warning" href="{% url 'Pay-Basket' pk=basket.id %}">
                            <small>Pay and Order</small>
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <h1>No Products now in your basket !</h1>
        <hr>
    {% endif %}


    {% for basket in baskets %}
        <div class="row">
            {% if basket.status != 'live' %}
                <span style="color: red;">your past baskets :</span>
                <div class="col-md-6">
                    <br>
                    {% for item in items %}
                        {% if item.basket == basket %}
                        <p>
                            <a href="/onlineshop/product_detail/{{item.product.id}}">
                                {{item.product.name}}
                            </a>
                            --> {{item.quantity}} , 
                            {% comment %} maximum you can buy : {{item.product.quantity}}
                            <a class="btn btn-sm btn-danger" href="{% url 'Delete-From-Basket' pk=item.product.id %}">
                                <small>Remove from basket</small>
                            </a> {% endcomment %}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <h6 style="color: brown;">
                        customer :{{comment.customer}}
                    </h6>
                    {% if comment.parent %}
                        <p>
                            <small>
                                replying on : {{comment.parent.writer}} - {{comment.parent.title}}
                            </small>
                        </p>
                    {% else %}
                    {% endif %}

                    <h1>
                        <a href="/user/{{comment.writer}}">user :{{comment.writer}}</a>
                    </h1>
                    <h2 style="color: rgb(60, 202, 47);">title :{{comment.title}}</h2>
                    <h3>body : {{comment.body}}</h3>
                    <h6>{{basket.created_on}}</h6>
                </div>
                <div class="col-md-6">
                    total price : {{basket.price}}
                    <br>
                    <a class="btn btn-sm btn-primary" href="{% url 'Edit-Basket' pk=basket.id %}">
                        <small>See seller comments</small>
                    </a>
                    <a class="btn btn-sm btn-warning" href="{% url 'Pay-Basket' pk=basket.id %}">
                        <small>-----</small>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endfor %}


        {% if comment.writer == request.user %}
            <a class="btn btn-sm btn-danger" href="{% url 'delete-comment' comment_id=comment.id %}">
                <small>حذف</small>
            </a>
            <a class="btn btn-sm btn-primary" href="{% url 'edit-comment' comment_id=comment.id %}">
                <small>ویرایش</small>
            </a>
        {% else %}
        {% endif %}
        {% if user.is_authenticated %}
            {% comment %} <a class="btn btn-sm btn-info" href="{% url 'add-comment' comment_id=comment.id  %}">
                <small>reply to this comment</small>
            </a>    {% endcomment %}
            {% comment %} <form action="{% url 'class_detail' post_id=post.id %}" method="post" >
                {% csrf_token %}
                <input type="submit" ,  class="btn btn-warning", value="Like this comment" , name="comment_like">
            </form> {% endcomment %}
            {% if check_like_comment %}
                {% for like in check_like_comment.filter %}
                    {% if like.comments == comment %}
                        {% comment %} <form action="{% url 'comment-like' comment_id=comment.id %}"  method="post" >
                            {% csrf_token %}
                            <input type="submit" ,  class="btn btn-danger", value="UnLike this comment" , name="comment_like">
                        </form> {% endcomment %}
                    {% else %}
                        {% comment %} <form action="{% url 'comment-like' comment_id=comment.id %}"  method="post" >
                            {% csrf_token %}
                            <input type="submit" ,  class="btn btn-warning", value="Like this comment" , name="comment_like">
                        </form> {% endcomment %}
                    {% endif %}
                {% endfor %}
            {% else %}
            {% endif %}
            {% comment %} <form action="{% url 'comment-like' comment_id=comment.id %}"  method="post" >
                {% csrf_token %}
                <input type="submit" ,  class="btn btn-warning", value="Like this comment in else" , name="comment_like">
            </form> {% endcomment %}

        {% endif %}

        <hr>

{% endblock content %}