{% extends "class_base.html" %}

{% load static %}

{% block content %}

    <h1> your baskets : </h1>
    <hr>
    {% if live_items %}
        {% for basket in baskets %}
            <div class="row">
                {% if basket.status == 'live' %}
                    <span style="color: red;">your live basket :</span>
                    <div class="col-md-6 text-left ">
                        <br>
                            {% for item in items %}
                                {% if item.basket == basket %}
                                <p>
                                    <p>
                                        <a href="/onlineshop/product_detail/{{item.product.id}}">
                                            {{item.product.name}}
                                        </a>
                                        --> {{item.quantity}} , maximum you can buy : {{item.product.quantity}}
                                        <a class="btn btn-sm btn-danger" href="{% url 'Delete-From-Basket' pk=item.product.id %}">
                                            <small>Remove from basket</small>
                                        </a>
                                    </p>
                                    each one of this item costs : {{item.product.price}}
                                    <a class="btn btn-sm btn-warning" href="{% url 'Edit-Basket-Item-Quantity' pk=item.id %}">
                                        <small>Edit Quantity - add desc</small>
                                    </a>
                                    <hr>
                                    
                                </p>
                                {% endif %}
                            {% endfor %}
                            <p class="text-left">
                                total product counts : {{basket.total_products_count}}
                            </p>
                    </div>
                    <div class="col-md-6">
                        total price : {{basket.price}}
                        <br>
                        <a class="btn btn-sm btn-primary" href="{% url 'Edit-Basket' pk=basket.id %}">
                            <small>Edit Basket</small>
                        </a>
                        <a class="btn btn-sm btn-success" href="{% url 'Pay-Basket' pk=basket.id %}">
                            <small>Pay and Order</small>
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <hr>
    {% else %}
        <h1>No Products now in your basket !</h1>
        <hr>
    {% endif %}

    <span style="color: red;">your past baskets :</span>
    <hr>

    {% for basket in baskets %}
        <div class="row">
            {% if basket.status != 'live' %}
                
                <div class="col-md-6">
                    <br>
                    {% for item in items %}
                        {% if item.basket == basket %}
                        <p>
                            <a href="/onlineshop/product_detail/{{item.product.id}}">
                                {{item.product.name}}
                            </a>
                            --> {{item.quantity}}
                        </p>
                        <hr>
                        {% endif %}
                    {% endfor %}
                    <p class="text-left">
                        total product counts : {{basket.total_products_count}}
                    </p>
                </div>
                <div class="col-md-6">

                    <a>
                        <small>bought at : {{basket.Chekedout_date}}</small>
                    </a>
                    <br>

                    total price : {{basket.price}}
                    <br>
                    <a class="btn btn-sm btn-primary" href="{% url 'Done-Basket-Detail' pk=basket.id %}">
                        <small>See sellers responses</small>
                    </a>

                    {% comment %} <a class="btn btn-sm btn-warning" href="{% url 'Pay-Basket' pk=basket.id %}">
                        <small>-----</small>
                    </a> {% endcomment %}

                    <br>
                    <small>Address : {{basket.address}}</small>

                </div>
                <hr>
            {% endif %}
        </div>
    {% endfor %}


{% endblock content %}