{% extends "class_base.html" %}

{% load static %}

{% block content %}
    <p>
        <h2 style="color: red;">OTP wont be Send because we havent paid the money for Kaveh-negar service !</h2>
    </p>
    <body>
        <form action="" method="post">
            {% csrf_token %}
            <p>
                <label for="mobile">Mobile : </label>
                <input type="text" name="mobile" readonly value="{{mobile}}" >
            </p>
            <p>
                <label for="mobile">OTP : </label>
                <input type="number" name="otp">
            </p>
            <p>
                <input type="submit" value="check otp">
            </p>
        </form>
    </body>

{% endblock content %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <p>
            <label for="mobile">Mobile : </label>
            <input type="text" name="mobile" readonly value="{{mobile}}" >
        </p>
        <p>
            <label for="mobile">OTP : </label>
            <input type="number" name="otp">
        </p>
        <p>
            <input type="submit" value="check otp">
        </p>
    </form>
</body>
</html> {% endcomment %}
